<head>
  <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
  <meta http-equiv="Pragma" content="no-cache" />
  <meta http-equiv="Expires" content="0" />
</head>

<center>
  <div class="content is-small is-dark has-text-centered"
      style="padding: 0 !important:margin:0 !important; clear: both !important; margin-bottom:5px;">
      <center>
        Follow us @ <a href="https://www.facebook.com/thefreshlystore" target="_blank"><i class="fab fa-facebook fa-lg secondary-color"></i></a>
      </center>
    <hr />
    <!-- <div style="display:inline;" class="cursor-pointer" ng-click="changeView('privacy-policy')"> <b>Privacy Policy || </b> </div>
    <div style="display:inline;" class="cursor-pointer" ng-click="changeView('privacy-policy')"> <b>Terms & Conditions</b> </div> -->

    <div style="display:inline;" class="cursor-pointer"> <a href="https://www.thefreshlystore.com/about-us.html" title="Contact Us" target="_blank">Contact Us</a> | </div>
    <div style="display:inline;" class="cursor-pointer"> <a href="https://www.thefreshlystore.com/privacy-policy.html" title="Privary Policy" target="_blank">Privacy Policy</a> | </div>
    <div style="display:inline;" class="cursor-pointer"> <a href="https://www.thefreshlystore.com/terms-and-conditions.html" title="Terms & Conditions" target="_blank">Terms & Conditions</a> </div>
    <div>Icons made by <a href="https://www.flaticon.com/authors/smashicons" title="Smashicons" target="_blank">Smashicons</a> from <a href="https://www.flaticon.com/" title="Flaticon" target="_blank">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>
  </div>
</center>
