<head>
  <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
  <meta http-equiv="Pragma" content="no-cache" />
  <meta http-equiv="Expires" content="0" />
</head>

<div class="columns is-full">

  <div class="column is-half" style="margin-left:5px !important; margin-right:5px !important;">
    <center> Add Delivery Address </center>
    <div class="box column is-three-quarters" style="margin:0 auto !important;" ng-controller="user-controller">
      <input id="enterAddress" type="text" placeholder="Delivery Address..." style="margin-bottom:10px; width:100%; height:30px;" autofocus/>
      <center><select class="dropdown" ng-model="selectedAreaName" ng-options="area for area in serviceableAreas" ng-change="updateDefaultAddress()" style="margin-bottom:10px;"></select></center>
      <div class="button is-info" style="height:28px; width:100%;" ng-click="addAddress()"> Add Address </div>
    </div>
  </div>

  <div class="column is-half" style="margin-left:5px !important; margin-right:5px !important;">
    <center>
      <label ng-if="userAddresses != null && userAddresses.length > 0"> Your Addresses </label>
      <label ng-if="userAddresses == null || (userAddresses != null && userAddresses.length == 0)"> You have no address added </label>
    </center>

    <div class="column is-three-quarters" style="margin:0 auto !important; margin-top:5px;" ng-controller="user-controller"
    ng-repeat="userAddress in userAddresses">
      <div class="box">
          {{userAddress.address}}<br />
          <i class="fas fa-map-marker-alt main-color"></i> &nbsp; {{userAddress.area}}
          <hr />
          <!-- <span class="columns" style="display:flex; align-items: center; justify-content: center;"> -->
          <span>
            <span class="cursor-pointer float-left" ng-click="editAddress(userAddress)"> <i class="fa fa-edit main-color hover-change-color"></i> Edit </span>
            <span class="cursor-pointer float-right" ng-click="deleteAddress(userAddress)"> <i class="fa fa-trash" style="color:#fc3c63;"></i> Delete </span>
            <br style="clear:both;" />
          </span>
      </div>
    </div>
  </div>

</div>
